* {
    margin: 0px;
}

body {
    background-color: peachpuff;
    display: grid;
    height: 100vh;
    grid-template-rows: 150px 1fr;
}

header {
    background-color: #5e1f1f;
    box-sizing: border-box;
    height: 100%;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: white;  
}

main {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 4fr 1fr;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-column: 1 / -1;
}

.blue-corner .blue-box {
    width: 70%;
    height: 80%;
    border: 4px solid #366ef2;
    border-left: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #366ef267;
}

.red-corner .red-box {
    margin-left: auto;
    width: 70%;
    height: 80%;
    border: 4px solid #f06060;
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    background-color: #f0606067;
}

.board {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, minmax(70px,150px));
    grid-template-rows: repeat(3, minmax(70px,150px));
    place-self: center;
}

.box {
    border: 2px solid black;
}

.left {
    border-left: none;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

.right {
    border-right: none;
}

.cross {
    background-image: url(../images/cross.svg);
    background-size: contain; 
}

.circle {
    background-image: url(../images/circle.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.board {
    border-radius: 12px;
}